body {
    display: relative;
    width: 100vw;
    height: 100vh;
    background: -webkit-linear-gradient(gray, white);
    background: -o-linear-gradientt(gray, white);
    background: -moz-linear-gradientt(gray, white);
    background: linear-gradientt(gray, white);
}

.title {
    text-align: center;    
}

canvas {
    border:2px solid #000000;
    background-color: white;
    border-radius: 10%;
    cursor: auto;
}

.row{
    text-align: center; 
    line-height: 60px;
}

table {
    width: 100vw;
    table-layout: fixed;
    border: 0;
}

tr {
    text-align: center;
}

td {
    color: black;
    font-size: 20px;
}

.btn {
    width: 120px;
    height: 40px;
    background: #f3ab0ef8;
    color: black;
    font-size: 20px;
    border-radius: 20%;
    box-shadow: none;
    border: 0;
}

.btn:hover {
    background-color:#f77b15;
}

.btn:active {
    position:relative;
    top:2px;
}

input[type=range] {
    -webkit-appearance: none;
    width: 300px;
    border-radius: 10px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
    height: 15px;
    border-radius: 10px;
    box-shadow: 0 1px 1px #def3f8, inset 0 .125em .125em #0d1112;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 25px;
    width: 25px;
    margin-top: -5px;
    background: #ffffff; 
    border-radius: 50%;
    border: solid 0.125em rgba(205, 224, 230, 0.5);
    box-shadow: 0 .125em .125em #3b4547;
}